[core]
	editor = vi
	askpass = git-gui--askpass
[diff]
	tool = vimdiff2
[merge]
	tool = vimdiff2
[color]
	diff = auto
	status = auto
	branch = auto
[url "https://"]
        insteadOf = git://
[alias]
	ls = log --pretty=oneline --graph
	lsa = log --name-status --find-renames --graph
	lsb = branch --list -vv
	lss = "!f() { \
		git stash list; \
	}; f"
	latest = "!f() { \
		branch_name=`git symbolic-ref --short HEAD`; \
		git pull origin $branch_name; \
	}; f"
	drop = "!f() { \
		git branch -D $1; \
	}; f"
	update = "!f() { \
		now=`date`; \
		GIT_COMMITTER_DATE='$now'; \
		git commit --amend --date '$now'; \
	}; f"
	clear = "!f() { \
		git clean -fd; \
	}; f"
[fetch]
	prune = true
