[core]
	editor = vi
	askpass = git-gui--askpass
[diff]
	tool = vimdiff2
[merge]
	tool = vimdiff2
[color]
	diff = auto
	status = auto
	branch = auto
[url "https://"]
        insteadOf = git://
[alias]
	ls = log --pretty=oneline
	logs = log --name-status --find-renames --graph
	b = branch --list -vv
	update = "!f() { \
		now=`date`; \
		GIT_COMMITTER_DATE='$now'; \
		git commit --amend --date '$now'; \
	}; f"
